<!DOCTYPE HTML>
<html>
 <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Climbing-App</title>
  </head>
  <body>
  <header>
    <%= render partial: "shared/header"%>
  </header>
  <%= "アイウエオ"%>

    <footer>
    </footer>
  </body>
</html>